html, body {
    width: 100%;
    background: url(hearts.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}

h1 {
    color: rgb(160, 13, 13);
    font-family:'Montserrat';
    font-weight: 900;
    font-size: 3.5rem;
}

.main-div {
    background-color: #fdebdf;
    padding: 50px 50px 150px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-radius: 10% 30% 50% 70%;
    box-shadow: 10px 10px #ffe9daa8;
}

.names-div {
    width: 100%;
    margin: 0 auto;
}

.name-entry {
    display: inline-block;
    vertical-align: top; 
    padding: 5% 5% 2%;
}

.btn {
    font-family:'Montserrat';
    font-weight: 900;
}