body {
    background-color: #F5EEDC;
}

h1 {
    color: #4F091D;
}

h3 {
    color: #4F091D;
}

hr {
    color: #DD4A48;
    border-style: dotted none none;
    border-width: 5px;
    align: center;
    width: 14%;
}

.education {
    margin-left: 30px;
}