body {
    background-color: #F5F5F5;
}

h1 {
    color: #364F6B;
}

h3 {
    color: #3FC1C9;
}

hr {
    color: #FC5185;
    border-style: dotted none none;
    border-width: 5px;
    align: center;
    width: 10%;
}

.education {
    margin-left: 30px;
}