body {
    background-image: url("../images/sky.jpg");
    margin: 0px;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h3 {
    color: #440A67;
    text-align: center;
}

hr {
    color: #7267CB;
    border-style: dotted none none;
    border-width: 5px;
    align: center;
    width: 10%;
}

.top {
    height: 420px;
    position: relative;
    top: 0;
}

.textTop {
    color: white;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.frontPic {
    position: absolute;
    height: 540px;
    top: 0;    
    left: 0;
    width: 100%;
    z-index: -2;
}

.myPic {
    position: relative;
    width: 180px;
    height: 180px;
    margin-top: -90px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: #d7d4ff 5px dotted;
}

.education {
    margin-left: 30px;
}

.mainDiv {
    background-color: #d7d4ff;
    margin: auto;
    width: 90%;
    box-shadow: 3px 3px 3px 7px rgba(41, 40, 40, 0.253);
}

#rocket {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 0;
    margin-top: 1%;
    margin-left: 17%;
}